/* ==========================================================================
   Default theme skin
   ========================================================================== */

// Intentionally left blank
$sidebar-background-color: rgba(0, 0, 0, 0.767);
$sidebar-link-color: #52b107 !default;
$sidebar-hover-color: #52b107 !default;
$input-background-color: transparent;