/* ==========================================================================
   Sea theme skin
   ========================================================================== */
   // original text-color #90f6d7
/* Colors */
$base-color: #41506b !default;
$text-color:  white !default;
$accent-color: #35bcbf !default;
$background-color: #263849 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
$sidebar-background-color: #252B34 !default;
$sidebar-link-color: #fff !default;
$sidebar-hover-color: #35bcbf;
$input-background-color: #fff;