<nav
  id="primary-nav"
  class="site-nav"
  itemscope
  itemtype="http://schema.org/SiteNavigationElement"
  aria-label="Main navigation"
>
  <ul id="menu-main-navigation" class="menu">
    <!-- Home link -->
    <li class="menu-item">
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name"
          style="font-size: 35px;">{{ site.data.theme.t.home | default: 'Home' }}</span
        >
      </a>
    </li>

    <!-- Submissions link -->
    <li class="menu-item">
      <a href="{{ '/submissions' | relative_url }}" itemprop="url">
        <span itemprop="name" style="font-size: 35px;">Submissions:</span>
      </a>
    </li>

    <!-- site.pages links -->

    <!-- {% assign default_paths = site.pages | map: "path" %} {% assign page_paths =
    site.data.theme.navigation_pages | default: default_paths %} {% comment %}
    {% for path in page_paths %} {% assign my_page = site.pages | where: "path",
    path | first %} {% if my_page.title %}
    <li class="menu-item">
      <a href="{{ my_page.url | relative_url }}" itemprop="url">
        <span itemprop="name">{{ my_page.title | escape }}</span>
      </a>
    </li>
    {% endif %} {% endfor %} {% endcomment %} -->

    <!-- <li class="menu-item">
      <a href="{{ post.url | relative_url }}" itemprop="url">
      <span itemprop="name">Submissions:</span>
      </a>
    </li> -->

    <div style="padding-left: 10px;">
        {% assign posts = site.posts | sort: "title" %}
        {% for post in posts %} {% if post.title %}
          <li class="menu-item yes" style="font-size: 18px; color: #52b107; padding-left: 20px;" >
            <a href="{{ post.url | relative_url }}" itemprop="url">
              {% assign words = post.title | split: ' ' %}
              {% capture title %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
              <span itemprop="name">{{ title }}</span>
            </a>
          </li>
      {% endif %} {% endfor %}
    </div>
  </ul>
</nav>
