---
layout: page
---

{{ content }}

{% comment %} <ul class="taxonomy-index">
  {% assign postsInYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy-count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul> {% endcomment %}

{% comment %} {% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include entry.html %}
      {% endfor %}
    </div>
  </section>
{% endfor %} {% endcomment %}

<h1 class="taxonomy-title" style="margin-bottom: 30px">Projects</h1>

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% for post in site.posts %}
    {% include entry.html %}
  {% endfor %}
</div>
<a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>